* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.prettierignore text eol=lf
*.csv text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mdx text eol=lf
*.mjs text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.avif binary
*.gif binary
*.jpeg binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.webm binary
*.webp binary
